body{
	text-align: ;
	font-family: serif;
	color: white;
	font-style: italic;
	background-image: url(https://www.radio2.si/media/full-moon-beyond-the-pines-16545_306ec.jpg);
	text-decoration: underline;
	text-decoration-color: white;
	text-decoration-style: solid;
}